.footer {
    @extend .container-imitation;
    margin: 54px 0 16px 0;
    font-family: 'HelveticaNeueCyr';
    .row {
        margin-bottom: 15px;
    }
    &__col-head {
        color: var(--black);
        font-weight: bold;
    }

    //LINKS
    &:not(&__col-head) {
        color: var(--gray);
    }

    //LOGO
    &__col-logo {
        cursor: pointer;
        font-family: 'Source Sans Pro';
        font-weight: bold;
        font-size: 1.7rem;
        color: var(--accent);
        svg {
            margin-right: 16px;
        }
        & > span {
            display: flex;
            align-items: center;
        }
    }

    .copyright {
        font-size: 0.85rem;
    }
}
