/*FORMS*/
.form {
    &__title {
        color: var(--black);
        font-size: var(--fz-big-headers);
        font-weight: bold;

        margin-bottom: 35px;
    }

    &-signUp {
        .checkbox {
            & ~ span {
                color: var(--gray);
            }
        }
        &__submitBtn {
            @extend .mybutton;
            width: 100% !important;
            height: 48px !important;
        }
    }

    &-settings {
        &-general {
            margin-top: 30px;

            &__submitBtn {
                @extend .mybutton;
                width: 140px !important;
                margin: 0 auto !important;
            }
        }
        &-professionCoverLetter {
            .two-columns-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 15px;
            }

            &__submitBtn {
                @extend .mybutton;
                width: 140px !important;
                margin: 20px auto 0 auto !important;
            }
        }

        &-security {
            margin-top: 30px;
        }
    }
}

//////////////COMMON FORM'S ELEMENTS/////////////////

.checkbox {
    // перерисовываем чекбокс
    position: absolute;
    opacity: 0;
    & + span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        width: max-content;

        &:before {
            box-sizing: border-box;
            content: '';
            display: inline-block;
            width: 19px;
            height: 19px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid #07bb59;
            border-radius: 2px;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }
    &:not(:checked) + span {
        &:before {
            border: 2px solid #ccc;
        }
    }

    &:checked + span {
        cursor: pointer;
        &:before {
            background: url('../img/icons/checkmark.svg') no-repeat center center #07bb59;
            background-size: 79%;
        }
    }

    /* стили при наведении курсора на checkbox */
    &:not(:disabled):not(:checked) + span {
        &:hover {
            cursor: pointer;
            /*color: #3480c0;
            &:before {
                border-color: #3480c0;
            }*/
        }
    }
    &:not(:disabled):not(:checked) {
        &:hover {
            /*cursor: pointer;
            & + span {
                color: #3480c0;
                &::before {
                    border-color: #3480c0;
                }
            }*/
        }
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    &:not(:disabled):active + span::before {
    }
    /* стили для чекбокса, находящегося в фокусе */
    &:focus + span::before {
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    &:focus:not(:checked) + span::before {
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    &:disabled + span::before {
    }
}

.field-wrapper {
    position: relative;

    & > span {
        position: absolute;
        top: -60%;
        left: 0px;
        font-size: 1rem;
        color: var(--gray);
        pointer-events: none;
    }

    &_textarea {
        & > span {
            display: block;
            margin-bottom: 18px;
        }
    }
}

.field {
    cursor: pointer;
    font: inherit;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 30px;
    color: var(--black);
    font-weight: 600;
    font-size: 1rem;
    padding: 5px 0;

    //строгие стили для react-selecta
    &_imp {
    }

    &_select {
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background: url('../img/icons/arrow-down.svg') no-repeat 95% center;
        &-inTable {
            height: 39px;
            width: 200px;
            border: 1px solid rgba(158, 157, 164, 0.2);
            border-radius: 2px;
            padding: 0 20px;
            font: inherit;
            color: var(--black);
            font-weight: 400;
        }
    }

    &_password {
        &-wrapper {
            position: relative;
        }
        &-eyeIcon {
            cursor: pointer;
            position: absolute;
            right: 2%;
            bottom: 5px;
        }
    }

    &_textarea {
        resize: none;
        overflow: hidden;
        height: 240px;
        padding: 14px 28px;
        background: transparent;
        border: 1px solid #979797;
        border-radius: 4px;
        &::placeholder {
            color: var(--gray);
            font-weight: 400;
        }
    }
}

.radio {
    //RADIO
    --background: white;
    --radio: var(--accent);
    --radio-checked: var(--accent);
    --radio-size: 16px;

    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        height: var(--radio-size);
        width: var(--radio-size);
        outline: none;
        margin: 0;
        margin-right: 10px;
        cursor: pointer;
        border: 2px solid var(--radio);
        &.radio_red {
            border-color: red;
        }
        background: transparent;
        border-radius: 50%;
        display: flex;
        justify-self: end;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: border 0.5s ease;

        &::before,
        &::after {
            content: '';
            display: flex;
            justify-self: center;
            border-radius: 50%;
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: var(--background);
            z-index: 1;
            opacity: var(--opacity, 1);
        }
        &::after {
            position: relative;
            width: calc(100% / 1.5);
            height: calc(100% / 1.5);
            background: var(--radio-checked);
            top: var(--y, 100%);
            transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
        }
        &.radio_red {
            &:after {
                background: red;
            }
        }
        &:checked {
            --radio: var(--radio-checked);
            &::after {
                --y: 0%;
                animation: stretch-animate 0.3s ease-out 0.17s;
            }
            &::before {
                --opacity: 0;
            }
            ~ input[type='radio'] {
                &::after {
                    --y: -100%;
                }
            }
        }
        &:not(:checked) {
            &::before {
                --opacity: 1;
                transition: opacity 0s linear 0.5s;
            }
        }
    }

    @keyframes stretch-animate {
        0% {
            transform: scale(1, 1);
        }
        28% {
            transform: scale(1.15, 0.85);
        }
        50% {
            transform: scale(0.9, 1.1);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}

.input {
    border: none;
    outline: none;
    &_search {
        box-sizing: border-box;
        background: url('../img/icons/loupe.svg') no-repeat 10px center, transparent;
        height: 39px;
        width: 200px;
        border: 1px solid rgba(158, 157, 164, 0.2);
        border-radius: 2px;
        padding: 0 35px;
        font: inherit;
        color: var(--black);
        font-weight: 400;

        &::placeholder {
            color: var(--gray);
            font-weight: 400;
        }
    }
}
