@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../fonts/fonts.css';
@import './rootVars.scss';

@import './header.scss';
@import './footer.scss';
@import './pages.scss';
@import './forms.scss';
@import './like.scss';
/*null*/
html {
    font-family: 'Source Sans Pro';
    font-size: 14px;
}
*:not(html) {
    font-family: inherit;
}
body,
h1,
h2 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    vertical-align: top;
}

body {
    background: var(--page-bg);
}
//////////////COMMON ELEMENTS//////////////
.flex {
    display: flex;
    &_space-between {
        justify-content: space-between;
        &_align-center {
            align-items: center;
        }
    }
    &_wrap {
        flex-wrap: wrap;
    }
    &_space-around {
        justify-content: space-around;
        &_align-center {
            align-items: center;
        }
    }
    &_align-center {
        align-items: center;
    }
    &-grow {
        flex-grow: 1;
    }
}

.container-imitation {
    //CONTAINER IMITATION
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        width: 540px;
    }
    @media (min-width: 768px) {
        width: 720px;
    }
    @media (min-width: 992px) {
        width: 960px;
    }
    @media (min-width: 1200px) {
        width: 1140px;
    }

    ////////////////////////
}

////////////LAYOUTS///////////////
.layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}
.leftSidebar {
}
