@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../fonts/fonts.css';
@import './rootVars.scss';

@import './header.scss';
@import './mobileMenu.scss';
@import './footer.scss';
@import './pages.scss';
@import './forms.scss';
@import './like.scss';
/*null*/
html {
    font-family: 'Source Sans Pro';
    font-size: 14px;
}
*:not(html) {
    font-family: inherit;
}
body,
h1,
h2 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    vertical-align: top;
}

body {
    background: var(--page-bg);
}
//////////////COMMON ELEMENTS//////////////
.flex {
    display: flex;
    &_space-between {
        justify-content: space-between;
        &_align-center {
            align-items: center;
        }
    }
    &_wrap {
        flex-wrap: wrap;
    }
    &_space-around {
        justify-content: space-around;
        &_align-center {
            align-items: center;
        }
    }
    &_align-center {
        align-items: center;
    }
    &-grow {
        flex-grow: 1;
    }
}

/////////////BUTTONS//////////
.mybutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent);
    color: white;
    height: 38px;
    width: 110px;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-right: 0;

    &:hover,
    a:hover {
        color: white;
    }
}

.container-imitation {
    //CONTAINER IMITATION
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        width: 540px;
    }
    @media (min-width: 768px) {
        width: 720px;
    }
    @media (min-width: 992px) {
        width: 960px;
    }
    @media (min-width: 1200px) {
        width: 1140px;
    }

    ////////////////////////
}

///////NAV LINK ACTIVE AND HOVER///////////
.nav-link {
    cursor: pointer;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 25%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: var(--accent);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        @include if_size('425') {
            width: 10%;
        }
    }
}
.nav-link.active {
    font-weight: bold;
    letter-spacing: 0;
    color: var(--accent) !important;

    &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

////////////LAYOUTS///////////////
.layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}
.leftSidebar {
}

.card-vision {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    box-shadow: 0 0 4px 0 rgba(183, 184, 199, 0.16);
    padding: 30px 36px;
    border-top: 2px solid var(--accent);
    @media (max-width: 426px) {
        padding: 30px 15px !important;
    }
}
//////////DROPDOWN//////////
.user-dropbtn {
    cursor: pointer;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.user-dropdown-content {
    display: none;
    position: absolute;
    top: calc(100%);
    right: 0;
    min-width: 140px;
    background: white;
    box-shadow: 0 2px 24px 0 rgba(219, 223, 229, 0.61);
    z-index: 1;

    &_settings {
        border-bottom: 1px solid #f4f4f4;
        position: relative;

        button:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 9px;
            left: 7px;
            background: url('../img/icons/settings.svg') no-repeat;
            background-size: contain;
        }
        &:hover button:before {
            background-image: url('../img/icons/settings-hovered.svg');
        }
        &:hover button {
            color: var(--accent);
        }
    }
    &_logout {
        position: relative;
        button:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 9px;
            left: 7px;
            background: url('../img/icons/logout.svg') no-repeat;
            background-size: contain;
        }
        &:hover button:before {
            background-image: url('../img/icons/logout-hovered.svg');
        }
        &:hover button {
            color: var(--accent);
        }
    }
}

/* Links inside the dropdown */

.user-dropdown-content button {
    color: var(--black);
    padding: 6px 25px;
    background: transparent;
    border: none;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.user-dropdown-content a:hover,
.user-dropdown-content button:hover {
    color: var(--accent);
}

/* Show the dropdown menu on hover */
.user-dropdown:hover .user-dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-dropdown:hover .user-dropbtn {
}

////////////readmore////////////
.readmore {
    &-content {
        line-height: calc(1rem + 10px);
    }
    &-btn {
        margin-top: 8px;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;

        button {
            color: var(--accent);
            font-style: italic;
            padding: 0;
            background: transparent;
            outline: none;
            font-weight: 600;
            border: none;
        }

        svg {
            vertical-align: middle;
            margin-bottom: 2px;
            margin-left: 10px;
        }
    }
}

.address-icon {
    height: 1rem;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 5px;
    svg {
        height: 100%;
    }
}

.burger {
    button {
        outline: none;
        border: none;
        background: transparent;
    }
}
