.page {
    @extend .container-imitation;
    padding: 45px 0;
    @include if_size('425') {
        padding-top: 90px;
    }

    &-signUp {
        .form-wrapper {
            width: 520px;
            border-top: 4px solid var(--accent);

            margin: 40px auto 0 auto;
            padding: 35px 38px 60px 38px;

            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 24px 0 #ebe7ff;
            @include if_size('425') {
                width: 100%;
            }

            .radio {
                .col {
                    @include if_size('375') {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    &-logIn {
        .form-wrapper {
            width: 420px;
            border-top: 4px solid var(--accent);

            margin: 40px auto 0 auto;
            padding: 35px 30px 60px 30px;

            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 24px 0 #ebe7ff;
            @include if_size('425') {
                width: 100%;
            }
        }
    }

    &-home {
        .layout {
            grid-template-columns: 200px 1fr 200px;
        }
        .mainContent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        //centered filters
        .main-params {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 56px;
            .field-wrapper {
                width: 300px;
            }
            .field-wrapper:first-child {
                margin-right: 10px;
            }
            .field-wrapper:last-child {
                margin-left: 10px;
            }

            @include if_size('425') {
                flex-direction: column;
                .field-wrapper {
                    width: 100%;
                }
                .field-wrapper:first-child {
                    margin-right: 0px;
                    margin-bottom: 44px;
                    margin-top: 44px;
                }
                .field-wrapper:last-child {
                    margin-left: 0px;
                }
            }
        }

        //side filters
        .leftSidebar {
            .side-params {
                &__head {
                    font-size: var(--fz-headers);
                    font-weight: 600;
                }
                display: grid;
                grid-gap: 44px;
            }
            @include if_size('425') {
                margin-bottom: 44px;
            }
        }

        .listOfVacancies {
            .vacancyCard {
                background: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 585px;
                height: 260px;
                box-shadow: 0 0 4px 0 rgba(183, 184, 199, 0.16);
                padding: 30px 36px;
                border-top: 2px solid var(--accent);
                margin-bottom: 14px;
                @include if_size('425') {
                    width: 100%;
                    margin-bottom: 24px;

                    height: max-content;
                }
                @include if_size('375') {
                    padding: 30px 10px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__title {
                        font-size: var(--fz-headers);
                        color: var(--accent);
                        font-weight: 600;
                    }
                    &__like {
                        @include if_size('425') {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
                &-additionalInfo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--black);
                    &__address {
                        display: flex;
                        align-items: center;
                    }
                    &__date {
                        font-style: italic;
                        text-align: right;
                    }
                    @include if_size('425') {
                        margin-top: 8px;
                        margin-bottom: 8px;
                    }
                }
                &-description {
                    color: var(--black);
                    @include if_size('425') {
                        margin-bottom: 8px;
                    }
                }
                &-footer {
                    color: var(--black);
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include if_size('325') {
                        display: block;
                    }
                    &__company {
                    }
                    &__rate {
                    }
                }
            }
        }

        //ad
        .rightSidebar {
            .adBanner {
                width: 254px;
                height: 507px;
                background: #e0dfe3;
                @include if_size('425') {
                    margin-top: 24px;
                    width: 100%;
                }
            }
        }
    }

    &-view {
        &_vacancy {
            .layout {
                grid-template-columns: 2fr 8fr 2fr;
                @include if_size('425') {
                    grid-template-columns: 0fr 8fr 0fr;
                }
            }

            .vacancyCard {
                @extend .card-vision;
                &-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 18px;

                    &__title {
                        font-size: var(--fz-headers);
                        color: var(--accent);
                        font-weight: 600;
                    }
                    &__like {
                    }
                }
                &-additionalInfo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--black);
                    margin-bottom: 20px;
                    &__address {
                        display: flex;
                        align-items: center;
                        .address-icon {
                            height: 1rem;
                            border-radius: 3px;
                            overflow: hidden;
                            margin-right: 5px;
                            svg {
                                height: 100%;
                            }
                        }
                    }
                    &__date {
                        font-style: italic;
                        text-align: right;
                    }
                }
                &-description {
                    color: var(--black);
                }
                &-footer {
                    margin-top: 30px;
                    color: var(--black);

                    &__item {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        &-name {
                        }
                        &-value {
                            font-weight: 600;
                        }
                    }
                }

                .apply-now {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    margin-top: 20px;
                    button {
                        @extend .mybutton;
                    }
                }
            }
        }
    }

    &-settings {
        @media (min-width: 426px) {
            padding-top: 25px;
        }

        .layout {
            grid-template-columns: 2fr 7fr 2fr;
        }

        //tabs wrapper
        .tabs-wrapper {
            margin-top: 100px;
            .nav {
                flex-direction: column;
            }
            @include if_size('425') {
                margin-top: 0;
            }
        }
        //tabs
        .setting__item {
            margin-top: 20px;

            .nav-link {
                padding: 0;
                color: var(--black);
                font-size: var(--fz-big);
            }
        }

        //tab-content wrapper
        .tab-wrapper {
            margin-left: 70px;
            @include if_size('425') {
                margin-left: 0;
                margin-top: 30px;
            }
        }
        //tab-content
        .settings-tab-header {
            font-size: var(--fz-big-headers);
            font-weight: 700;
            margin-bottom: 26px;
            padding-left: 20px;
            @include if_size('425') {
                padding-left: 0;
                margin-bottom: 18px;
            }
        }
        .settings-tab-content {
            @extend .card-vision;
        }
    }

    &-profile {
        .layout {
            grid-template-columns: 2fr 8fr 2fr;
            @include if_size('425') {
                grid-template-columns: 0fr 8fr 0fr;
            }
        }

        .profile-wrapper {
            @extend .card-vision;
            @include if_size('425') {
                padding: 30px 20px !important;
            }
            a {
                color: var(--accent);
            }

            .user-name {
                font-size: var(--fz-headers);
                color: var(--accent);
                font-weight: 700;
                margin-bottom: 30px;
            }

            .user-info {
                color: var(--black);

                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    &-name {
                        flex: 3 0;
                        color: var(--gray);
                    }
                    &-value {
                        flex: 2 0;
                        font-weight: 600;
                        text-align: right;
                    }
                }
            }
            .user-description {
                margin-top: 30px;
                color: var(--gray);
            }
        }
    }
    &-cv {
    }
    &-employer {
        .tabulator .tabulator-tableholder .tabulator-table .tabulator-row {
            font-weight: 600;
        }
        .table__jobColumn {
            text-align: left;
            &-title {
                margin-bottom: 5px;
                font-size: var(--fz-big);
            }
            &-desc {
                font-weight: normal;
            }
            &_candidate {
                text-align: left;
                &-title {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    .address-icon {
                        margin-left: 5px;
                    }
                }
                &-desc {
                    font-weight: normal;
                }
            }
        }
        &_jobs {
            //and for candidate page the same
            .table-wrapper {
                @extend .card-vision;
            }
        }

        &_postJob {
            @media (min-width: 426px) {
                padding-top: 25px;
            }
            .layout {
                grid-template-columns: 465px 380px;
                grid-gap: 30px;
                justify-content: center;

                @include if_size('425') {
                    grid-template-columns: 1fr;
                }
            }

            .leftPartForm {
                @extend .card-vision;
            }
            .rightSidebar {
                display: grid;
                grid-row-gap: 30px;
                .rightPartForm {
                    @extend .card-vision;
                    border-color: var(--gray) !important;
                }
            }
        }
    }

    &-why {
        .title {
            font-size: var(--fz-big-headers) !important;
            font-weight: bold;
            span {
                color: var(--accent);
                margin-left: 1rem;
            }
            margin-bottom: 10px;
        }

        .text,
        .author {
            font-size: 16px;
            line-height: 32px;
        }

        .author {
            font-style: italic;
            margin-top: 20px;
            color: var(--accent);
        }
    }
}
