.page {
    @extend .container-imitation;
    padding: 45px 0;
    &-signUp {
        .form-wrapper {
            width: 520px;
            border-top: 4px solid var(--accent);

            margin: 40px auto 0 auto;
            padding: 35px 38px 60px 38px;

            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 2px 24px 0 #ebe7ff;
        }
    }

    &-home {
        .mainContent {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .main-params {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 56px;
            .field-wrapper {
                width: 300px;
            }
            .field-wrapper:first-child {
                margin-right: 10px;
            }
            .field-wrapper:last-child {
                margin-left: 10px;
            }
        }
        .side-params {
            &__head {
                font-size: var(--fz-headers);
                font-weight: 600;
            }
            display: grid;
            grid-gap: 44px;
            .field-wrapper {
                width: 200px;
            }
        }

        .listOfVacancies {
            .vacancyCard {
                background: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 585px;
                height: 260px;
                box-shadow: 0 0 4px 0 rgba(183, 184, 199, 0.16);
                padding: 30px 36px;
                border-top: 2px solid var(--accent);
                margin-bottom: 14px;
                &:last-child {
                    margin-bottom: 0;
                }
                &-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__title {
                        font-size: var(--fz-headers);
                        color: var(--accent);
                        font-weight: 600;
                    }
                    &__like {
                    }
                }
                &-additionalInfo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--black);
                    &__address {
                        display: flex;
                        align-items: center;
                        .address-icon {
                            height: 1rem;
                            border-radius: 3px;
                            overflow: hidden;
                            margin-right: 5px;
                            svg {
                                height: 100%;
                            }
                        }
                    }
                    &__date {
                        font-style: italic;
                        text-align: right;
                    }
                }
                &-description {
                    color: var(--black);
                }
                &-footer {
                    color: var(--black);
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &__company {
                    }
                    &__rate {
                    }
                }
            }
        }
    }

    &-view {
        &_vacancy {
        }
    }
}
