:root {
    //colors
    --accent: #5b3dea;
    --black: #191430;
    --gray: #9e9da4;
    --page-bg: #f7f9fc;

    //font-sizes
    --fz-big: 1.285rem;
    --fz-headers: 1.7rem;
    --fz-big-headers: 2.3rem;
}
