$breakpoints: (
    '325': 325px,
    '375': 375px,
    '425': 425px,
    'medium': 1024px,
    'large': 1200px,
    'extra-large': 1440px,
) !default;

@mixin if_size($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

:root {
    //colors
    --accent: #5b3dea;
    --black: #191430;
    --gray: #9e9da4;
    --page-bg: #f7f9fc;

    //font-sizes
    --fz-big: 1.285rem;
    --fz-headers: 1.7rem;
    --fz-big-headers: 2.3rem;
}
